<link rel="stylesheet" href="/css/user_profile.css">
    <h1>
        users profile <%= title%>
    </h1>

    <p>
        name: <%= user.name %>
    </p>
    <p>
        email: <%= user.email %>
    </p>

    <form action="/users/signout" method="post">
        <input type="submit" value="sign out">
    </form>
    
    
    